/* banner space  */
.section-space {

    margin-top: 80px;
}

/* carosell */
.carousel-caption {

    height: 90%;
}

.img {

    height: 600px;
    object-fit: cover;
}

/* darken carousell image */
.carousel-item::before {
    content: "";
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
}